## 데이터분석및활용 - Assignment1: pandas실습

### 데이터프레임 만들기, 데이터프레임 확인
* DataFrame
* head()

In [1]:
import pandas as pd

raw_data = {
      'first_name': ['주환', '현수', '병헌', '용찬', '승환'],
      'last_name': ['최', '김', '민', '이', '오'],
      'age': [36, 39, 38, 38, 42],
      'city': ['분당', '서울', '경주', '대구', '천안']
    }

df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'city'])
df

  first_name last_name  age city
0         주환         최   36   분당
1         현수         김   39   서울
2         병헌         민   38   경주
3         용찬         이   38   대구
4         승환         오   42   천안

In [2]:
df.head(2)      # 데이터프레임 상단의 두개의 데이터 확인

  first_name last_name  age city
0         주환         최   36   분당
1         현수         김   39   서울

### 엑셀파일 읽기, 데이터 전치하기
* read_excel()
* .T

In [4]:
# 데이터 불러오기 
df = pd.read_excel("excel-comp-data.xlsx") # excel 데이터 로드
df

,account,name,street,city,state,postal-code,Jan,Feb,Mar
0,211829,"Kerluke, Koepp and Hilpert",34456 Sean Highway,New Jaycob,Texas,28752,10000,62000,35000
1,320563,Walter-Trantow,1311 Alvis Tunnel,Port Khadijah,NorthCarolina,38365,95000,45000,35000
2,648336,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,New Lilianland,Iowa,76517,91000,120000,35000
3,109996,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Hyattburgh,Maine,46021,45000,120000,10000
4,121213,Bauch-Goldner,7274 Marissa Common,Shanahanchester,California,49681,162000,120000,35000
5,132971,"Williamson, Schumm and Hettinger",89403 Casimer Spring,Jeremieburgh,Arkansas,62785,150000,120000,35000
6,145068,Casper LLC,340 Consuela Bridge Apt. 400,Lake Gabriellaton,Mississipi,18008,62000,120000,70000
7,205217,Kovacek-Johnston,91971 Cronin Vista Suite 601,Deronville,RhodeIsland,53461,145000,95000,35000
8,209744,Champlin-Morar,26739 Grant Lock,Lake Juliannton,Pennsylvania,64415,70000,95000,35000
9,212303,Gerhold-Maggio,366 Maggio Grove Apt. 998,North Ras,Idaho,46308,70000,120000,35000
10,214098,"Goodwin, Homenick and Jerde",649 Cierra Forks Apt. 078,Rosaberg,Tenessee,47743,45000,120000,55000
11,231907,Hahn-Moore,18115 Olivine Throughway,Norbertomouth,NorthDakota,31415,150000,10000,162000
12,242368,"Frami, Anderson and Donnelly",182 Bertie Road,East Davian,Iowa,72686,162000,120000,35000
13,268755,Walsh-Haley,2624 Beatty Parkways,Goodwinmouth,RhodeIsland,31919,55000,120000,35000
14,273274,McDermott PLC,8917 Bergstrom Meadow,Kathryneborough,Delaware,27933,150000,120000,70000

In [5]:
df.tail().T

,10,11,12,13,14
account,214098,231907,242368,268755,273274
name,"Goodwin, Homenick and Jerde",Hahn-Moore,"Frami, Anderson and Donnelly",Walsh-Haley,McDermott PLC
street,649 Cierra Forks Apt. 078,18115 Olivine Throughway,182 Bertie Road,2624 Beatty Parkways,8917 Bergstrom Meadow
city,Rosaberg,Norbertomouth,East Davian,Goodwinmouth,Kathryneborough
state,Tenessee,NorthDakota,Iowa,RhodeIsland,Delaware
postal-code,47743,31415,72686,31919,27933
Jan,45000,150000,162000,55000,150000
Feb,120000,10000,120000,120000,120000
Mar,55000,162000,35000,35000,70000

### 데이터 추출
* loc()
* iloc()

In [6]:
# loc함수: index이름과 열 이름으로 데이터 추출
# 1, 3, 4번쨰 인덱스의 account, city column을 추출
df.loc[[1, 3, 4], ["account", "city"]]

   account             city
1   320563    Port Khadijah
3   109996       Hyattburgh
4   121213  Shanahanchester

In [7]:
# iloc함수: index위치로 호출
# 행 방향으로 0~6번째 인덱스, 열 기준으로 1~3번쨰 인덱스까지 출력
df_test = df.iloc[:7, 1:4]
df_test

,name,street,city
0,"Kerluke, Koepp and Hilpert",34456 Sean Highway,New Jaycob
1,Walter-Trantow,1311 Alvis Tunnel,Port Khadijah
2,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,New Lilianland
3,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Hyattburgh
4,Bauch-Goldner,7274 Marissa Common,Shanahanchester
5,"Williamson, Schumm and Hettinger",89403 Casimer Spring,Jeremieburgh
6,Casper LLC,340 Consuela Bridge Apt. 400,Lake Gabriellaton

### 열 삭제하기
* del

In [8]:
# del함수: 원하는 열 하나 삭제
# 'city' 칼럼 삭제
del df["city"]
df.head()

,account,name,street,state,postal-code,Jan,Feb,Mar
0,211829,"Kerluke, Koepp and Hilpert",34456 Sean Highway,Texas,28752,10000,62000,35000
1,320563,Walter-Trantow,1311 Alvis Tunnel,NorthCarolina,38365,95000,45000,35000
2,648336,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,Iowa,76517,91000,120000,35000
3,109996,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Maine,46021,45000,120000,10000
4,121213,Bauch-Goldner,7274 Marissa Common,California,49681,162000,120000,35000

### 인덱스로 데이터 추출하기, 정렬
* index
* sort_index()

In [10]:
# index함수: 인덱스의 값을 우리가 원하는 값으로 변경
# 해당 데이터의 인덱스의 값을 account로 변환시킴
df.index = df["account"]
df

,account,name,street,state,postal-code,Jan,Feb,Mar
account,,,,,,,,
211829,211829,"Kerluke, Koepp and Hilpert",34456 Sean Highway,Texas,28752,10000,62000,35000
320563,320563,Walter-Trantow,1311 Alvis Tunnel,NorthCarolina,38365,95000,45000,35000
648336,648336,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,Iowa,76517,91000,120000,35000
109996,109996,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Maine,46021,45000,120000,10000
121213,121213,Bauch-Goldner,7274 Marissa Common,California,49681,162000,120000,35000
132971,132971,"Williamson, Schumm and Hettinger",89403 Casimer Spring,Arkansas,62785,150000,120000,35000
145068,145068,Casper LLC,340 Consuela Bridge Apt. 400,Mississipi,18008,62000,120000,70000
205217,205217,Kovacek-Johnston,91971 Cronin Vista Suite 601,RhodeIsland,53461,145000,95000,35000
209744,209744,Champlin-Morar,26739 Grant Lock,Pennsylvania,64415,70000,95000,35000
212303,212303,Gerhold-Maggio,366 Maggio Grove Apt. 998,Idaho,46308,70000,120000,35000
214098,214098,"Goodwin, Homenick and Jerde",649 Cierra Forks Apt. 078,Tenessee,47743,45000,120000,55000
231907,231907,Hahn-Moore,18115 Olivine Throughway,NorthDakota,31415,150000,10000,162000
242368,242368,"Frami, Anderson and Donnelly",182 Bertie Road,Iowa,72686,162000,120000,35000
268755,268755,Walsh-Haley,2624 Beatty Parkways,RhodeIsland,31919,55000,120000,35000
273274,273274,McDermott PLC,8917 Bergstrom Meadow,Delaware,27933,150000,120000,70000

In [11]:
# sort_index함수: index을 기준으로 정렬
df.sort_index()

,account,name,street,state,postal-code,Jan,Feb,Mar
account,,,,,,,,
109996,109996,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Maine,46021,45000,120000,10000
121213,121213,Bauch-Goldner,7274 Marissa Common,California,49681,162000,120000,35000
132971,132971,"Williamson, Schumm and Hettinger",89403 Casimer Spring,Arkansas,62785,150000,120000,35000
145068,145068,Casper LLC,340 Consuela Bridge Apt. 400,Mississipi,18008,62000,120000,70000
205217,205217,Kovacek-Johnston,91971 Cronin Vista Suite 601,RhodeIsland,53461,145000,95000,35000
209744,209744,Champlin-Morar,26739 Grant Lock,Pennsylvania,64415,70000,95000,35000
211829,211829,"Kerluke, Koepp and Hilpert",34456 Sean Highway,Texas,28752,10000,62000,35000
212303,212303,Gerhold-Maggio,366 Maggio Grove Apt. 998,Idaho,46308,70000,120000,35000
214098,214098,"Goodwin, Homenick and Jerde",649 Cierra Forks Apt. 078,Tenessee,47743,45000,120000,55000
231907,231907,Hahn-Moore,18115 Olivine Throughway,NorthDakota,31415,150000,10000,162000
242368,242368,"Frami, Anderson and Donnelly",182 Bertie Road,Iowa,72686,162000,120000,35000
268755,268755,Walsh-Haley,2624 Beatty Parkways,RhodeIsland,31919,55000,120000,35000
273274,273274,McDermott PLC,8917 Bergstrom Meadow,Delaware,27933,150000,120000,70000
320563,320563,Walter-Trantow,1311 Alvis Tunnel,NorthCarolina,38365,95000,45000,35000
648336,648336,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,Iowa,76517,91000,120000,35000